body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}

#Navbar > ul > li {
    font-size: 1.2em
}
#main {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
}

.well {
    background-color: #F9F9F9;
    opacity: 0.8;
    max-height: 600px;
    max-width: 900px;
    min-height: 500px;
    min-width: 300px;
    width: 100%;
    height: 100%;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

#timeStrip {
    background-color: red;
    height: 100%;
    width: 100%;
}

#blockStrip {
    background-color: blue;
    height: 100%;
}

#descriptionStrip {
    background-color: yellow;
    height: 100%;
}